
html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
}



/* GLOBAL */
body{
    font-family: "Inter",system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    background-color: #f8f9fa;
    color: #1a1a1a;
}
/* NAVBAR */
.navbar{
    background: white;
    padding: 15px 0;
    box-shadow: 0 2px 6px rgba(0,0,0,0.06);
}
.navbar-brand{
    font-size: 1.4rem;
}
/* HERO */
.hero {
    padding: 120px 0;
    background: white;
}

.hero h1 {
    font-size: 3rem;
    font-weight: 700;
}

/* BUTTON */
.btn-primary {
    background-color: #2ec866;
    border-color: #2ec866;
}

.btn-primary:hover {
    background-color: #26b058;
}

/* TITLES */
.section-title {
    font-size: 2.2rem;
    font-weight: 700;
}

/* PROJECT CARDS */
.project-card {
    border: none;
    border-radius: 12px;
    background: white;
    box-shadow: 0 4px 10px rgba(0,0,0,0.06);
    transition: 0.3s;
}

.project-card:hover {
    transform: translateY(-6px);
}

/* CONTACT */
.contact-section {
    background: white;
    padding: 80px 0;
}

/* FOOTER */
footer {
    background: #1a1a1a;
    color: white;
    padding: 25px 0;
    text-align: center;
    margin-top: auto;
}

/* DARK MODE */
.dark-mode {
    background-color: #121212 !important;
    color: #e6e6e6 !important;
}

.dark-mode .navbar {
    background-color: #1f1f1f !important;
}

.dark-mode .navbar a {
    color: #e6e6e6 !important;
}

.dark-mode .hero {
    background-color: #181818 !important;
}

.dark-mode .project-card {
    background-color: #1e1e1e !important;
    color: #e6e6e6 !important;
    box-shadow: none;
}

.dark-mode .contact-section {
    background-color: #181818 !important;
}

.dark-mode footer {
    background-color: #000 !important;
}

.dark-mode input,
.dark-mode textarea {
    background-color: #2b2b2b !important;
    color: white !important;
    border: 1px solid #444 !important;
}

.dark-mode .btn-outline-dark {
    color: white !important;
    border-color: white !important;
}
