{% extends "base.html" %}
{% block content %}
<!-- INTRODUCTION SECTION -->
<section class="hero text-center">
    <div class="container">
        <h1>Hello, I'm <span style="color:#2ec866;">Febin Sunny</span></h1>
        <p class="mt-3">
            MCA student & Web Developer passionate about building<br>
            clean, modern and user-centric applications.
        </p>
        <div class="mt-4">
            <a href="https://github.com/febiins" class="btn btn-primary btn-lg me-2" target="_blank">GitHub</a>
            <a href="https://www.linkedin.com/in/febin-sunny-b226b4320" class="btn btn-outline-dark btn-lg" target="_blank">LinkedIn</a>
        </div>
    </div>

</section>
<!-- SKILLS SECTION -->
 <section class="container py-5">
    <h2 class="section-title">Skills</h2>
    <div class="row">
        <div class="col-md-4">
            <ul>
                <li>Java</li>
                <li>Django</li>
                <li>SQL</li>
            </ul>
           
        </div>
        <div class="col-md-4">
            <ul>
                <li>HTML / CSS</li>
                <li>JavaScript</li>
            </ul>
            
        </div>
        <div class="col-md-4">
            <ul>
                <li>Git & GitHub</li>
                <li>Teamwork</li>
                <li>Leadership</li>
                <li>Communication</li>
            </ul>
            
        </div>
    </div>
 </section>

 {% endblock %}