{% extends "base.html" %}
{% block content %}

<section class="container py-5">
    <h2 class="section-title">Projects</h2>
    <div class="row g-4">
        <div class="col-md-6">
            <h4>Face Recognition System</h4>
                <p class="text-muted">Python / OpenCV / Machine Learning</p>

                <p>
                    A face recognition application capable of detecting and identifying faces in
                    real time using Haar Cascades and LBPH algorithm. Includes dataset creation,
                    model training, live detection, and attendance marking features.
                </p>
                <a href="https://github.com/febiins/facerecognition.git"
                   target="_blank"
                   class="btn btn-outline-dark mt-2">
                    <i class="bi bi-github"></i> GitHub Repo
                </a>
        </div>
    </div>

    <div class="col-md-6">
            <div class="project-card p-4">

                <h4>Movie Review Website</h4>
                <p class="text-muted">Django / Bootstrap / SQLite</p>

                <p>
                    A collaborative team project where I served as the <strong>Backend Developer</strong>.
                    I implemented core backend functionalities including user authentication,
                    review system, database models, CRUD operations, and search integration.
                    The frontend and UI were handled by other team members.
                </p>

                <!-- GitHub link -->
                <a href="https://github.com/harrree/StarShip.git"
                   target="_blank"
                   class="btn btn-outline-dark mt-2">
                   <i class="bi bi-github"></i> GitHub Repo
                </a>

            </div>
        </div>

    </div>
</section>
{% endblock %}